<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
        <div id="login">
            <h1>Login</h1>
            <form name="login-form">
                <input type="email" placeholder="Email" id="email" required>
                <input type="password" placeholder="Password" id="password" required>
                <button type="button" onclick="btnLogin()">Login</button>
                <button type="button" onclick="btnRegister()">Register</button>
                <p id="show"></p>
            </form>
        </div>
    </body>

    <script>
        function btnLogin(){
            let email = document.getElementById("email").value
            let password = document.getElementById("password").value

            var xmlhttp = new XMLHttpRequest();
            var url = "http://192.168.0.180:3000/login";

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    
                    setTimeout(function() { window.location=window.location;},1000);
                             
                };
            };
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader('Content-Type','application/x-www-form-urlencode');
            xmlhttp.send(JSON.stringify({
                "email": email,
                "password": password
            }));
        };

        function btnRegister(){
            
            var xmlhttp = new XMLHttpRequest();
            var url = "http://192.168.0.180:3000/register_form";
            
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    setTimeout(function() { window.location=window.location;},1000);
                        
                };
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader('Content-Type','application/x-www-form-urlencode');
            xmlhttp.send();
        };
    </script>
</html>