<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
        <div id="register">
            <h1>Register</h1>
            <form name="register-form"> 
                <input type="email" placeholder="Email" id="email" required>
                <input type="password" placeholder="Password" id="password" required>
                <input type="password" placeholder="Comfirm Password" id="comfirm" required>
                <button type="button" onclick="btnRegister()">Register</button>
                <p id="show"></p>
            </form>
        </div>
    </body>

    <script>
        function btnRegister(){
            let email = document.getElementById("email").value
            let password = document.getElementById("password").value
            let comfirm_password = document.getElementById("comfirm").value


            var xmlhttp = new XMLHttpRequest();
            var url = "http://192.168.0.180:3000/register";

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("show").innerHTML = this.responseText;
                    setTimeout(function() { window.location=window.location;},2000); 
                    
                }
            };
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader('Content-Type','application/x-www-form-urlencode');
            xmlhttp.send(JSON.stringify({
                "email": email,
                "password": password,
                "confirm_password": comfirm_password
            }));
        };
    </script>
</html>